/* NOTE: - should have taken more time to improve overal css consistency */
h1 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  text-align: center;
  font-size: 48px;
  color: #292828;
}
